<section>
    <div class="container gray">
        <div class="row">

            <div class="col-md-9 ">
                <h4>student</h4>
            </div>

            <div class="col-md-3  ">
                <button class="editBut btn btn-primary" id="editStud{{num}}">edit</button>
            </div>

        </div>
    </div>

    <!-- <div class="container"> -->
    <div class=" hoverable">
        <div class="form-signin">
            <h4 class="form-signin-heading">{{form_name}}</h4>
            <label for="inputname" class="">Student Name</label>
            <input type="name" id="inputname" class="form-control" placeholder="Student Name" required autofocus>
            <label for="inputphone" class="">Phone</label>
            <input type="phone" id="inputphone" class="form-control" placeholder="Student Phone" required autofocus>
            <label for="inputemail" class="">e-mail</label>
            <input type="email" id="inputemail" class="form-control" placeholder="Student e-mail" required autofocus>
            <label for="inputimage" class="">Image</label>
            <form id="uploadForm" action="upload.php" method="post">
                <label>Upload Image File:</label><br/>
                <input name="userImage" type="file" class="inputFile" />
                <input type="submit" value="Submit" class="btnSubmit" />
            </form>

            <div id="course-checkbox"> </div>


        </div>

        <!-- </div> -->




</section>