<section>
    <div class="container">
            <div class="row">
                <div class="col-md-9 order-9 nopadding">                    
                student
                </div>
                <div class="col-md-3 order-3 nopadding">
                <button  id="editStud{{num}}">edit</button>
                </div>
             </div>
    </div>

     <div class="container">          
             <div class="row">
                        <div class="col-md-4 order-4 nopadding">
                                <img class="photo" src="{{imgsrc}}">                    
                        </div>
                        <div class="col-md-8 order-8 text-left text nopadding">  
                                <h6>{{name}}</h6>
                                <span>{{phone}}</span>
                                <span>{{email}}</span>
                        </div>
                </div>
        <div class="container">
    </div>         
                    
            <div ip="courselist"></div>


</section>