<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="utf-8" />
    <title>Create Phone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">


</head>

<body>
    <div class='text-center'>

        <div class="myform container">
            <h2> INSERT A PHONE </h2>
            <br>
            <label for="name">Name:</label>
            <br>
            <input type="text" id="name" placeholder="Phone name" style='margin:0 auto;' class="form-control">
            <br>
            <label for="pic">Upload phone photo:</label>
            <br>
            <input type="file" id="pic" accept="image/*" style='margin:0 auto;' class="btn btn-primary margin_bottom">
            <br>
            <label for="select_manu">select a manufactor:</label>
            <br>
            <select id="select_manu" class="btn btn-primary margin_bottom"></select>
            <br>
            <button id="submit" value="create" class="btn btn-warning margin_bottom">Create Phone</button>
            <br>
            <div id="result"></div>

        </div>
    </div>




    <script src='../scripts/phones/phone_main.js'></script>
    <script src='../scripts/phones/PhoneModel.js'></script>
    <script src='../scripts/phones/phone_model_Controller.js'></script>
    <script src='../scripts/phone-template.js'></script>
    <script src="../scripts/Validation-CS.js"></script>
    <script src="../scripts/ajax.js"></script>
    <script src="../scripts/callback.js"></script>
    <script src='../scripts/select_list.js'></script>



</body>

</html>